/* components/FeedItem.module.css */
.feedItem {
    border: 1px solid #f3f4f6;
    border-radius: 8px;
    margin: 5px 0px;
    overflow: hidden;
    background-color: #fff;
}

.profileContainer {
    cursor: pointer;
}

.contentContainer {
    padding: 16px;
    background-color: #fff;
}

.openBrowser {
    background: none;
    border: none;
    cursor: pointer;
    margin: 16px 25px;
}

.singleFeed {
    max-width: 800px;
    margin: 0 13px 90px;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
}