/* MenuBar.module.css */
.menuBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
  margin: 24px 25px 0;
  border-top: 1px solid #f3f4f6;
  border-bottom: 1px solid #f3f4f6;
  padding: 27px 0;
  background-color: #fff;
}