.submitButton {
    display: flex;
    width: calc(100% - 32px);
    height: 56px;
    margin: 20px auto 0;
    /* 상단 20px, 좌우 중앙 정렬, 하단 0 */
    border: none;
    border-radius: 10px;
    background-color: #2563eb;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

.submitButton:hover {
    background-color: #1e40af;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.buttonText {
    margin-left: 8px;
}