/* components/Profile.module.css */

.profile {
    height: 90px;
    display: flex;
    padding: 0 13px;
    align-items: center;
    background-color: #F3F4F6;
    justify-content: space-between;
}

.profileInfo {
    display: flex;
    align-items: center;
}

.profileImageContainer {
    display: flex;
    cursor: pointer;
    justify-content: center;
}

/* 이미지 스타일 클래스 추가 */
.profileImage {
    border-radius: 50%;
}

.profileImageDefault {
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #F3E8FF;
    object-fit: contain;
}

.profileImageWithBg {
    border-radius: 50%;
}

.nameRow {
    display: flex;
    align-items: center;
    padding-right: 8px;
    color: #000;
}

.nameText {
    font-size: 14px;
    font-weight: 700;
    padding-right: 8px;
    color: #000;
}

.infoRow {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 8px;
}

.infoText,
.separator {
    margin-left: 4px;
    margin-right: 4px;
    color: #6b7280;
    font-weight: 600;
    font-size: 12px;
}

.moreIcon {
    cursor: pointer;
}