/* RelatedArticleItem.module.css */
.container {
    display: flex;
    flex-direction: column;
    margin: 18px 37px;
    cursor: pointer;
    padding: 12px;
    background: linear-gradient(to right, rgba(167, 139, 250, 0), rgba(192, 132, 252, 0));
    border-radius: 8px;
}

.container:hover {
    background: linear-gradient(to right,rgba(219, 234, 254, 0.5), rgba(255, 255, 255, 0));
}

.row {
    display: flex;
    align-items: center;
}

.title {
    flex: 1;
    margin-right: 12px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #000;
}

.subtitle {
    margin-right: 4px;
    color: #6b7280;
    font-size: 12px;
}