.safeArea {
    margin: 0 auto;
    padding: 0;
    display: flex;
    max-width: 980px;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fff;
}

.signupTitle {
    font-size: 24px;
    font-weight: bold;
    margin: 30px 28px 10px;
}

.signupSubtitle {
    font-size: 16px;
    color: #555;
    margin: 0 28px;
}

.continueButton {
    background-color: #2563eb;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    margin: 16px 28px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continueButtonDisable {
    background-color: #60a5fa;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    margin: 16px 28px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continueButtonText {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}